body {
  margin: 0;
  padding: 0;
}
.a {
  margin-top: 1rem;
  display: flex;
  justify-content: right;
}
.d {
  justify-items: right;
  margin-top: auto;
  margin-right: 1.5rem;
  display: block;
}
.i {
  border: 2px black;
}
.i img {
  border: 2px solid black;
  margin-right: 0.5rem;
}
.h {
  display: flex;
  padding: auto;
  height: 1.5rem;
  background-color: rgb(93, 198, 247);
  border-bottom: 2px solid black;
}
.e {
  display: flex;
  justify-content: center;
  width: 200px;
}
.e a {
  text-decoration: none;
  justify-self: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.r {
  display: flex;
  justify-content: center;
  width: 200px;
}
.r a {
  text-decoration: none;
  justify-self: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
